* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box; 
}
body {
    background-image: url(../bg.png);
    background-repeat: no-repeat;
}
.flickr-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.flickr-wrapper__flickr-title{
    font-size: 40px;
    width: 100px;
    height: 30px;
}
.flickr-wrapper__button-start{
    width: 100px;
    height: 30px;
    cursor: pointer;
    margin-top: 40px;
    border: 1px black solid;
    background-color: aqua;
}
.flickr-searcher {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -10px;
}
.flickr-input {
    width: 300px;
    height: 20px;
    border: 1px black solid;
}
.flickr-submit {
    height: 20px;
    border: 1px black solid;
    cursor: pointer;
}
.flickr-imgs {
    display: flex;
    margin-top: 10px;
    flex-flow: wrap-reverse;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid black;
    /* max-width: 900px; */
}
.flickr-imgs__img {
    width: 120px;
    height: 120px;
    cursor: pointer;
}
.flickr-boxes {
    display: flex;
    flex-direction: row;
    flex-flow: wrap-reverse;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    
}
.flickr-boxes__box {
    width: 100px;
    height: 100px;
    background-color: rgb(211, 147, 147);
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 20px;
 }
 .flickr-boxes-content {
    display: flex;
    justify-content: center;
    border: 1px solid black;
 }